<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quo sed fugiat, atque debitis delectus tempore adipisci pariatur ratione totam, saepe animi voluptatum quia. Natus assumenda tempora eius ipsa eos.
    Consequatur dolorum unde possimus provident in, quidem nemo delectus quam at quasi modi! Quae architecto quia, eos doloribus praesentium ratione quibusdam, esse ipsa repellendus repellat animi explicabo. Sint, cum perspiciatis!</p>
</section>