<h1 class="text-3xl">Contacto</h1>
<hr class="my-2">

<section>
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aspernatur illo officia praesentium nisi fugit esse unde mollitia dolorem soluta. Ex odit voluptatibus ratione ipsam magnam facere. Beatae, rerum et?
    Commodi, explicabo placeat. Aut ratione sapiente id officiis quae quia vero, optio temporibus eum placeat. Facilis odit omnis sequi illo, porro voluptatum! Deserunt veniam excepturi iure quae sapiente iusto facilis.
    Mollitia accusantium aliquam nisi ducimus aut libero, vitae harum maxime eligendi, fuga earum totam ut dignissimos iste beatae nulla dolore qui ipsa. Excepturi distinctio temporibus error nesciunt autem porro tempora?</p>
</section>